<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084573201438-srmmsoa4nguml63k2mem6v7rqrmb3pge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084573201438-srmmsoa4nguml63k2mem6v7rqrmb3pge</string>
	<key>API_KEY</key>
	<string>AIzaSyBcj4u7SvEn3XTmzbw5dBIpHweQfV3_Gl0</string>
	<key>GCM_SENDER_ID</key>
	<string>1084573201438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalfakhro.BuyBookBack</string>
	<key>PROJECT_ID</key>
	<string>buy-book-back-3293d</string>
	<key>STORAGE_BUCKET</key>
	<string>buy-book-back-3293d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084573201438:ios:912e8d12126180c2a0ea0f</string>
	<key>DATABASE_URL</key>
	<string>https://buy-book-back-3293d.firebaseio.com</string>
</dict>
</plist>